/*
 * SignerenoAddonServices.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 12/10/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using SignerenoAddonServices.PCL;
using SignerenoAddonServices.PCL.Utilities;
using SignerenoAddonServices.PCL.Http.Request;
using SignerenoAddonServices.PCL.Http.Response;
using SignerenoAddonServices.PCL.Http.Client;
using SignerenoAddonServices.PCL.Exceptions;
using SignerenoAddonServices.PCL.Models;

namespace SignerenoAddonServices.PCL.Controllers
{
    public partial class CreditCheckController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static CreditCheckController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static CreditCheckController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new CreditCheckController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Business credit check
        /// </summary>
        /// <param name="accountId">Required parameter: Signere account Id</param>
        /// <param name="orgnumber">Required parameter: Example: </param>
        /// <param name="isprod">Optional parameter: Test environment when false or undefined</param>
        /// <param name="userId">Optional parameter: Override bisnode user Id</param>
        /// <param name="password">Optional parameter: Override bisnode password</param>
        /// <param name="countryCode">Optional parameter: Default = "NO"</param>
        /// <return>Returns the SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse response from the API call</return>
        public SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse GetCreditCheckBusinessCreditCheck(
                Guid accountId,
                int orgnumber,
                bool? isprod = null,
                string userId = null,
                string password = null,
                string countryCode = null)
        {
            Task<SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse> t = GetCreditCheckBusinessCreditCheckAsync(accountId, orgnumber, isprod, userId, password, countryCode);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Business credit check
        /// </summary>
        /// <param name="accountId">Required parameter: Signere account Id</param>
        /// <param name="orgnumber">Required parameter: Example: </param>
        /// <param name="isprod">Optional parameter: Test environment when false or undefined</param>
        /// <param name="userId">Optional parameter: Override bisnode user Id</param>
        /// <param name="password">Optional parameter: Override bisnode password</param>
        /// <param name="countryCode">Optional parameter: Default = "NO"</param>
        /// <return>Returns the SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse response from the API call</return>
        public async Task<SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse> GetCreditCheckBusinessCreditCheckAsync(
                Guid accountId,
                int orgnumber,
                bool? isprod = null,
                string userId = null,
                string password = null,
                string countryCode = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/api/creditcheck/business/{accountId}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "accountId", accountId }
            });

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "orgnumber", orgnumber },
                { "isprod", isprod },
                { "userId", userId },
                { "password", password },
                { "countryCode", countryCode }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };
            _headers.Add("Authorization", string.Format("Bearer {0}", Configuration.OAuthAccessToken));

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new APIException(@"Bad request", _context);

            else if (_response.StatusCode == 401)
                throw new APIException(@"Not authorized", _context);

            else if (_response.StatusCode == 500)
                throw new APIException(@"Internal server error (Miscellaneous)", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<SignereNoAddonservicesModelsCompanyCreditCheckCompanyResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Private credit check
        /// </summary>
        /// <param name="accountId">Required parameter: Signere account Id</param>
        /// <param name="socialSecurityNumber">Required parameter: Example: </param>
        /// <param name="isprod">Optional parameter: Test environment when false or undefined</param>
        /// <param name="userId">Optional parameter: Override bisnode user Id</param>
        /// <param name="password">Optional parameter: Override bisnode password</param>
        /// <param name="phonenumber">Optional parameter: Specify this to use electronic duplicate letters</param>
        /// <param name="email">Optional parameter: Specify this to use electronic duplicate letters</param>
        /// <return>Returns the SignereNoAddonservicesModelsPersonCreditCheckPersonResponse response from the API call</return>
        public SignereNoAddonservicesModelsPersonCreditCheckPersonResponse GetCreditCheckPrivateCreditCheck(
                Guid accountId,
                long socialSecurityNumber,
                bool? isprod = null,
                string userId = null,
                string password = null,
                int? phonenumber = null,
                string email = null)
        {
            Task<SignereNoAddonservicesModelsPersonCreditCheckPersonResponse> t = GetCreditCheckPrivateCreditCheckAsync(accountId, socialSecurityNumber, isprod, userId, password, phonenumber, email);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Private credit check
        /// </summary>
        /// <param name="accountId">Required parameter: Signere account Id</param>
        /// <param name="socialSecurityNumber">Required parameter: Example: </param>
        /// <param name="isprod">Optional parameter: Test environment when false or undefined</param>
        /// <param name="userId">Optional parameter: Override bisnode user Id</param>
        /// <param name="password">Optional parameter: Override bisnode password</param>
        /// <param name="phonenumber">Optional parameter: Specify this to use electronic duplicate letters</param>
        /// <param name="email">Optional parameter: Specify this to use electronic duplicate letters</param>
        /// <return>Returns the SignereNoAddonservicesModelsPersonCreditCheckPersonResponse response from the API call</return>
        public async Task<SignereNoAddonservicesModelsPersonCreditCheckPersonResponse> GetCreditCheckPrivateCreditCheckAsync(
                Guid accountId,
                long socialSecurityNumber,
                bool? isprod = null,
                string userId = null,
                string password = null,
                int? phonenumber = null,
                string email = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/api/creditcheck/private/{accountId}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "accountId", accountId }
            });

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "socialSecurityNumber", socialSecurityNumber },
                { "isprod", isprod },
                { "userId", userId },
                { "password", password },
                { "phonenumber", phonenumber },
                { "email", email }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };
            _headers.Add("Authorization", string.Format("Bearer {0}", Configuration.OAuthAccessToken));

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new APIException(@"Bad request", _context);

            else if (_response.StatusCode == 401)
                throw new APIException(@"Not authorized", _context);

            else if (_response.StatusCode == 500)
                throw new APIException(@"Internal server error (Miscellaneous)", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<SignereNoAddonservicesModelsPersonCreditCheckPersonResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 